In [1]:
from pyspark.sql import SparkSession

In [2]:
spark=SparkSession.builder.appName('United2').getOrCreate()

In [20]:
df_pyspark=spark.read.csv('Info.csv', header=True,inferSchema=True)

In [21]:
df_pyspark.show()

+-------+------------+------+
|   Name| Departments|Salary|
+-------+------------+------+
|  Frank|Data Science| 10000|
|  Frank|         IOT|  5000|
|   Mike|    Big Data|  4000|
|  Frank|    Big Data|  4000|
|  Sunny|Data Science|  3000|
|   Mark|Data Science| 20000|
|   Mark|         IOT| 10000|
|   Mark|    Big Data|  5000|
|Rebecca|Data Science| 10000|
|Rebecca|    Big Data|  2000|
+-------+------------+------+

In [22]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Departments: string (nullable = true)
 |-- Salary: integer (nullable = true)

In [25]:
##Groupby
## Grouped to find the maximum salary
df_pyspark.groupBy('Name').sum().show()

+-------+-----------+
|   Name|sum(Salary)|
+-------+-----------+
|Rebecca|      12000|
|  Sunny|       3000|
|   Mark|      35000|
|   Mike|       4000|
|  Frank|      19000|
+-------+-----------+

In [36]:
## Maximum & Minimum salary earn by an individual
df_pyspark.groupBy('Name').max().show()

+-------+-----------+
|   Name|max(Salary)|
+-------+-----------+
|Rebecca|      10000|
|  Sunny|       3000|
|   Mark|      20000|
|   Mike|       4000|
|  Frank|      10000|
+-------+-----------+

In [26]:
### Groupby Department which gives maximum salary
df_pyspark.groupBy('Departments').sum().show()

+------------+-----------+
| Departments|sum(Salary)|
+------------+-----------+
|         IOT|      15000|
|    Big Data|      15000|
|Data Science|      43000|
+------------+-----------+

In [27]:
### mean salary
df_pyspark.groupBy('Departments').mean().show()

+------------+-----------+
| Departments|avg(Salary)|
+------------+-----------+
|         IOT|     7500.0|
|    Big Data|     3750.0|
|Data Science|    10750.0|
+------------+-----------+

In [29]:
## Number of people working in a department
df_pyspark.groupBy('Departments').count().show()

+------------+-----+
| Departments|count|
+------------+-----+
|         IOT|    2|
|    Big Data|    4|
|Data Science|    4|
+------------+-----+

In [37]:
df_pyspark

DataFrame[Name: string, Departments: string, Salary: int]