In [2]:
from pyspark.sql import SparkSession

In [3]:
spark=SparkSession.builder.appName('United1').getOrCreate()

In [4]:
df_pyspark=spark.read.csv('Names.csv', header=True,inferSchema=True)

In [5]:
df_pyspark.show()

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
|Frank| 31|        10| 30000|
| Inno| 30|         8| 25000|
| Enam| 29|         4| 20000|
|Kodzo| 24|         3| 20000|
| Kofi| 21|         1| 15000|
| Bene| 23|         2| 18000|
+-----+---+----------+------+

### Filter operations

In [21]:
### Salary of the people less than or equal to 20000
df_pyspark.filter("Salary<=20000").show()

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
| Enam| 29|         4| 20000|
|Kodzo| 24|         3| 20000|
| Kofi| 21|         1| 15000|
| Bene| 23|         2| 18000|
+-----+---+----------+------+

In [22]:
## inverse of the operation
df_pyspark.filter(~(df_pyspark['Salary']<=20000)).show()

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
|Frank| 31|        10| 30000|
| Inno| 30|         8| 25000|
+-----+---+----------+------+

In [7]:
## select their name & age col
df_pyspark.filter("Salary<=20000").select(['Name','age']).show()

+-----+---+
| Name|age|
+-----+---+
| Enam| 29|
|Kodzo| 24|
| Kofi| 21|
| Bene| 23|
+-----+---+

In [19]:
df_pyspark.filter((df_pyspark['Salary']<=20000) & 
                  (df_pyspark['Salary']>=15000)).show()

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
| Enam| 29|         4| 20000|
|Kodzo| 24|         3| 20000|
| Kofi| 21|         1| 15000|
| Bene| 23|         2| 18000|
+-----+---+----------+------+