In [2]:
from pyspark.sql import SparkSession

In [3]:
spark=SparkSession.builder.appName('United11').getOrCreate()

In [4]:
df_pyspark=spark.read.csv('Bill.csv', header=True,inferSchema=True)

In [9]:
df_pyspark.show(10)

+-----------+-------------+----------+---------------------+--------------+
|customer-id|customer_name|billing_id|billing_creation_date|billing amount|
+-----------+-------------+----------+---------------------+--------------+
|          1|            A|       id1|           10/10/2020|      $100.00 |
|          1|            A|       id2|           11/11/2020|      $150.00 |
|          1|            A|       id3|           12/11/2021|      $100.00 |
|          2|            B|       id4|           10/11/2019|      $150.00 |
|          2|            B|       id5|           11/11/2020|      $200.00 |
|          2|            B|       id6|           12/11/2021|      $250.00 |
|          3|            C|       id7|             1/1/2018|      $100.00 |
|          3|            C|       id8|             5/1/2019|      $250.00 |
|          3|            C|       id9|             6/1/2021|      $300.00 |
|       null|         null|      null|                 null|          null|
+-----------+-------------+----------+---------------------+--------------+

In [7]:
##drop the columns
df_pyspark.drop('customer_name').show(3)

+-----------+----------+---------------------+--------------+
|customer-id|billing_id|billing_creation_date|billing amount|
+-----------+----------+---------------------+--------------+
|          1|       id1|           10/10/2020|      $100.00 |
|          1|       id2|           11/11/2020|      $150.00 |
|          1|       id3|           12/11/2021|      $100.00 |
+-----------+----------+---------------------+--------------+
only showing top 3 rows

In [8]:
## drop null values
df_pyspark.na.drop().show()

+-----------+-------------+----------+---------------------+--------------+
|customer-id|customer_name|billing_id|billing_creation_date|billing amount|
+-----------+-------------+----------+---------------------+--------------+
|          1|            A|       id1|           10/10/2020|      $100.00 |
|          1|            A|       id2|           11/11/2020|      $150.00 |
|          1|            A|       id3|           12/11/2021|      $100.00 |
|          2|            B|       id4|           10/11/2019|      $150.00 |
|          2|            B|       id5|           11/11/2020|      $200.00 |
|          2|            B|       id6|           12/11/2021|      $250.00 |
|          3|            C|       id7|             1/1/2018|      $100.00 |
|          3|            C|       id8|             5/1/2019|      $250.00 |
|          3|            C|       id9|             6/1/2021|      $300.00 |
+-----------+-------------+----------+---------------------+--------------+

In [14]:
## any==how (drop any null)
df_pyspark.na.drop(how="any").show()

+-----------+-------------+----------+---------------------+--------------+
|customer-id|customer_name|billing_id|billing_creation_date|billing amount|
+-----------+-------------+----------+---------------------+--------------+
|          1|            A|       id1|           10/10/2020|      $100.00 |
|          1|            A|       id2|           11/11/2020|      $150.00 |
|          1|            A|       id3|           12/11/2021|      $100.00 |
|          2|            B|       id4|           10/11/2019|      $150.00 |
|          2|            B|       id5|           11/11/2020|      $200.00 |
|          2|            B|       id6|           12/11/2021|      $250.00 |
|          3|            C|       id7|             1/1/2018|      $100.00 |
|          3|            C|       id8|             5/1/2019|      $250.00 |
|          3|            C|       id9|             6/1/2021|      $300.00 |
+-----------+-------------+----------+---------------------+--------------+

In [15]:
## subset
df_pyspark.na.drop(how="any", subset=['billing_id']).show()

+-----------+-------------+----------+---------------------+--------------+
|customer-id|customer_name|billing_id|billing_creation_date|billing amount|
+-----------+-------------+----------+---------------------+--------------+
|          1|            A|       id1|           10/10/2020|      $100.00 |
|          1|            A|       id2|           11/11/2020|      $150.00 |
|          1|            A|       id3|           12/11/2021|      $100.00 |
|          2|            B|       id4|           10/11/2019|      $150.00 |
|          2|            B|       id5|           11/11/2020|      $200.00 |
|          2|            B|       id6|           12/11/2021|      $250.00 |
|          3|            C|       id7|             1/1/2018|      $100.00 |
|          3|            C|       id8|             5/1/2019|      $250.00 |
|          3|            C|       id9|             6/1/2021|      $300.00 |
+-----------+-------------+----------+---------------------+--------------+

In [21]:
## Filling the missing values
df_pyspark.na.fill('Missing values',['customer_name','billing_id']).show()

+-----------+--------------+--------------+---------------------+--------------+
|customer-id| customer_name|    billing_id|billing_creation_date|billing amount|
+-----------+--------------+--------------+---------------------+--------------+
|          1|             A|           id1|           10/10/2020|      $100.00 |
|          1|             A|           id2|           11/11/2020|      $150.00 |
|          1|             A|           id3|           12/11/2021|      $100.00 |
|          2|             B|           id4|           10/11/2019|      $150.00 |
|          2|             B|           id5|           11/11/2020|      $200.00 |
|          2|             B|           id6|           12/11/2021|      $250.00 |
|          3|             C|           id7|             1/1/2018|      $100.00 |
|          3|             C|           id8|             5/1/2019|      $250.00 |
|          3|             C|           id9|             6/1/2021|      $300.00 |
|       null|Missing values|Missing values|                 null|          null|
+-----------+--------------+--------------+---------------------+--------------+

In [23]:
df_pyspark.show()

+-----------+-------------+----------+---------------------+--------------+
|customer-id|customer_name|billing_id|billing_creation_date|billing amount|
+-----------+-------------+----------+---------------------+--------------+
|          1|            A|       id1|           10/10/2020|      $100.00 |
|          1|            A|       id2|           11/11/2020|      $150.00 |
|          1|            A|       id3|           12/11/2021|      $100.00 |
|          2|            B|       id4|           10/11/2019|      $150.00 |
|          2|            B|       id5|           11/11/2020|      $200.00 |
|          2|            B|       id6|           12/11/2021|      $250.00 |
|          3|            C|       id7|             1/1/2018|      $100.00 |
|          3|            C|       id8|             5/1/2019|      $250.00 |
|          3|            C|       id9|             6/1/2021|      $300.00 |
|       null|         null|      null|                 null|          null|
+-----------+-------------+----------+---------------------+--------------+

In [37]:
from pyspark.ml.feature import Imputer
imputer = Imputer(
    inputCols=['customer-id'],
    outputCols=["{}_imputed".format(c) for c in['customer-id']]
    ).setStrategy("mean")

In [38]:
## Add imputation cols to df
imputer.fit(df_pyspark).transform(df_pyspark).show()

+-----------+-------------+----------+---------------------+--------------+-------------------+
|customer-id|customer_name|billing_id|billing_creation_date|billing amount|customer-id_imputed|
+-----------+-------------+----------+---------------------+--------------+-------------------+
|          1|            A|       id1|           10/10/2020|      $100.00 |                  1|
|          1|            A|       id2|           11/11/2020|      $150.00 |                  1|
|          1|            A|       id3|           12/11/2021|      $100.00 |                  1|
|          2|            B|       id4|           10/11/2019|      $150.00 |                  2|
|          2|            B|       id5|           11/11/2020|      $200.00 |                  2|
|          2|            B|       id6|           12/11/2021|      $250.00 |                  2|
|          3|            C|       id7|             1/1/2018|      $100.00 |                  3|
|          3|            C|       id8|             5/1/2019|      $250.00 |                  3|
|          3|            C|       id9|             6/1/2021|      $300.00 |                  3|
|       null|         null|      null|                 null|          null|                  2|
+-----------+-------------+----------+---------------------+--------------+-------------------+